.message {
  align-self: flex-start;
  display: flex;
  align-items: center;

  position: relative;

  min-height: 30px;
  max-width: 420px;

  background-color: #fff;
  margin-bottom: 8px;
  border-radius: 6px;

  z-index: 2;

  box-shadow: 0 2px 1px 0 rgba(160, 172, 182, 0.5);
}

.message-self {
  align-self: flex-end;
  background-color: #effdde;
  box-shadow: 0 2px 1px 0 rgba(93, 196, 82, 0.5);
}

.droplet:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: -8px;
  width: 12px;
  height: 1px;
  background-color: inherit;
  z-index: 1;
  box-shadow: 0 1px 1px 1px rgba(160, 172, 182, 0.5);
}

.droplet:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: -10px;
  width: 16px;
  height: 10px;
  clip-path: url(#left-droplet);
  background-color: inherit;
  z-index: 1;
  box-shadow: 0 2px 1px 0 rgba(160, 172, 182, 0.5);
}

.droplet-self:before {
  right: -8px;
  left: initial;
  box-shadow: 0 1px 1px 1px rgba(93, 196, 82, 0.5);
}

.droplet-self:after {
  right: -10px;
  left: initial;
  clip-path: url(#right-droplet);
}

.message__body-text,
.message__body-caption .message__content-text {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 2;
}

.message__body-image,
.message__body-caption {
  position: relative;
  z-index: 2;
}

.message__body-image {
  border-radius: 6px;
}

.message_content-image {
  border-radius: 6px;
  margin-bottom: -3px;
  max-width: 100%;
}

.message_content-caption {
  border-radius: 6px 6px 0 0;
}

.message__time {
  display: inline-block;
  float: right;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  text-align: right;
  line-height: 150%;
  color: #a0acb6;
}

.message__time-image {
  display: block;
  float: initial;
  position: absolute;
  bottom: 4px;
  right: 4px;
  padding: 4px;
  color: #fff;
  background-color: rgba(38, 50, 56, 0.5);
  border-radius: 6px;
  transition: opacity 0.2s linear;
  opacity: 0;
}

.message__time-self {
  color: #5dc452;
}

.message__body-image:hover .message__time {
  opacity: 1;
}
